@model IEnumerable<Vila.Web.Models.Detail.DetailModel>

@{
    ViewData["Title"] = "GetVilaDetails";
    var vila = ViewData["vila"] as Vila.Web.Models.Vila.VilaModel;
    var success = TempData["success"] != null;
}
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<h1>ویژگی های ویلا @vila.Name</h1>
<a class="btn btn-success" asp-action="CreateVilaDetail" asp-route-id="@vila.VilaId">
    افزودن ویژگی
</a>
 @if(success)
            {
            <hr />
            <h3 class="alert alert-success">
                عملیات موفق !!!
                </h3>
        }
            <hr />
<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
               شماره ویلا
            </th>
            <th>
               ویژگی
            </th>
            <th>
               مقدار
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DetailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VilaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.What)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
               <a class="btn btn-warning" asp-action="EditVilaDetail" asp-route-id="@item.DetailId">
    ویرایش ویژگی
</a>
<a class="btn btn-danger" asp-action="DeleteVilaDetail" asp-route-id="@item.DetailId">
    حذف ویژگی
</a>
            </td>
        </tr>
}
    </tbody>
</table>
