@model Vila.Web.Models.Vila.VilaPaging
@{
    ViewData["Title"] = "Home Page";
}

    <div class="site-section" id="products-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-6 text-center">
                    <h3 class="section-sub-title">محصولات مردم</h3>
                    <h2 class="section-title mb-3">محصولات ما</h2>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                    </p>
                </div>
            </div>
             <div class="row">
                    <form>
                        <input type="hidden" class="form-control" name="pageId" value="@Model.PageId"/>
                    <div class="col-12 col-md-10">
                         <input type="text" class="form-control" name="filter" value="@Model.Filter"/>
                    </div>
                    <div class="col-12 col-md-2">
                         <input type="submit" class="btn btn-outline-info"  value="جست و جو"/>
                    </div>
                    </form>
                </div>
            <div class="row">

            @if(Model != null)
            {


                @if (Model.Vilas.Any())
                {
                    foreach(var item in Model.Vilas)
                    {
                        <div class="col-lg-4 col-md-6 mb-5">
                    <div class="product-item">
                        <figure>
                            @{
                                var image = Convert.ToBase64String(item.Image);
                                var src = string.Format("data:image/jpg;base64,{0}", image);
                            }
                            <img src="@src" alt="@item.Name" class="img-fluid">
                        </figure>
                        <div class="px-4">
                            <h3><a href="#">@item.Name </a></h3>
                            <div class="mb-3">
                                <span class="meta-icons mr-3"><a href="#" class="mr-2"><span
                                        class="icon-star text-warning"></span></a> @item.State</span>
                                <span class="meta-icons wishlist"><a href="#" class="mr-2"><span
                                        class="icon-heart"></span></a> @item.City</span>
                            </div>
                            <p class="mb-4">@item.address</p>
                            <p class="mb-4">شماره تماس :  @item.Mobile</p>
                            <p class="mb-4">کرایه روزانه :  @item.DayPrice.ToString("#,0") تومان</p>
                            <p class="mb-4"> قیمت فروش : @item.SellPrice.ToString("#,0") تومان</p>
                            
                            <div>
                                <a href="#" class="btn btn-black mr-1 rounded-0">افزودن به سبد</a>
                                <a href="#" class="btn btn-black btn-outline-black ml-1 rounded-0">دیدن</a>
                            </div>
                        </div>
                    </div>
                </div>
                    }

                    
                }
            }
            


            </div>
            
        @if (Model.PageCount > 1)
        {
            <div class="row d-flex">
                        @for (var i = Model.StartPage; i <= Model.EndPage; i++)
                        {
                            if(i == Model.PageId)
                            {
                                 <a class="btn btn-primary">@i</a>
                            }
                            else
                            {
                                 <a href="/Home/Index?filter=@Model.Filter&pageid=@i" class="btn btn-outline-primary">@i</a>
                            }
                        }
                       
                     </div>
        }

        </div>
    </div>
